<style>
    body {
        background-color: rgb(248, 247, 198);
    }
</style>
<div class="topnav">
  <a class="nav-bar" href="/">HOME</a>
  <a href="/actions">NAMES</a>
</div>

<h1>GREETED NAMES</h1> 

{{#each names}}

<h1><a href="/counter/{{@key}}">{{@key}}</a> </h1>

{{/each}}