<body>
    <div>
        <div class="topnav">
            <a class="nav-bar" href="/">HOME</a>
            <a href="/actions">NAMES</a>
        </div>

    </div>
    <br>

    <div class="greetings">
        <h1>Greetings </h1>
      
    </div>

    <form action="/greet" method="POST">
        <div class="first-section">
            <h1>Name <input name="nameEntered" type="text" id="input" class="greeting inputTxt"></input>
                <div>{{counter}}</div>
            </h1>
        </div>
        <div class="span">
            <label class="">
                <input type="radio" name="myButton" class="radio-button" value="xhosa">
                <span class="label-body">Xhosa</span>
            </label>
            <label class="">
                <input type="radio" name="myButton" class="radio-button" value="english">
                <span class="label-body">English</span>
            </label>
            <label class="">
                <input type="radio" name="myButton" class="radio-button" value="venda">
                <span class="label-body">Venda</span>
            </label>
        </div>
        <br>
        <div class="button">

            <button class="btns" on type="submit" name="button">Greet Me</button>
            <button class="btns" on type="submit" name="button"> <a href="/actions"> Greeted Names</a></button>
            <button class="btns" on type="submit" name="button"><a href="/reset"> Reset</a></button>
        <h3>Press Reset to clear the counter</h3>
        </div>
        {{!-- <br> --}}

    </form>

    <div class="display">{{theName}}</div>
    <div class="display" style="color:red">{{messages.info}}</div>
    <script src="timeout.js"></script>
    </div>
</body>