<body>
    <div class="greetings">
        <h1>Greetings </h1>
        <p class="errors" style="color: red;">{{messages.info}}</p>
    </div>
    <form action="/greet" method="POST">
        <div class="first-section">
            <h1>Name <input name="nameEntered" type="text" id="input" class="greeting inputTxt"></input>
                <div>{{counter}}</div>
            </h1>
        </div>
        <div class="span">
            <label class="">
                <input type="radio" name="myButton" class="radio-button" value="xhosa">
                <span class="label-body">Xhosa</span>
            </label>
            <label class="">
                <input type="radio" name="myButton" class="radio-button" value="english">
                <span class="label-body">English</span>
            </label>
            <label class="">
                <input type="radio" name="myButton" class="radio-button" value="venda">
                <span class="label-body">Venda</span>
            </label>
        </div>
        <br>
        <div class="button">

            <button class="btns" on type="submit" name="button">Greet Me</button> 
           <button class="btns" on type="submit" name="button"> <a href="/actions"> Greeted Names</a></button>
           <button class="btns" on type="submit" name="button"><a href="/reset"> Reset</a></button>
        </div>
        <br>

    </form>

        <div class="display">{{theName}}</div>
    <script src="timeout.js"></script>
    </div>
</body>