
<style>
    body {
        background-color: rgb(248, 247, 198);
       
    }


</style>
<div class="greeted-names" >
<h1>How many times the user has been greeted:</h1>
</div>

<h3>{{Names}} you have been greeted {{Times.counter}} time(s)<h3>