.section {
	padding: 50px;
	margin-left: 400px;
	margin-right: 400px;
	border-radius: 10px;
	text-align: center;
}
.greetings {
	background-color: rgb(246, 205, 20);
	margin-left: 250px;
	margin-right: 250px;
	align-items: center;
	padding: 5px 15px 5px 15px;
	
}
.display {
	height: 50px;
	background-color: rgb(251, 245, 245);
	margin-left: 200px;
	margin-right: 200px;
}
.errors {
	height: 50px;
	background-color: rgb(238, 235, 235);
}

.inputTxt {
	/* border: 40px; */
}

body {
	background-color: aqua;
}



