.section {
	padding: 50px;
	margin-left: 400px;
	margin-right: 400px;
	border-radius: 10px;
	text-align: center;
}
.greetings {
	background-color: rgb(246, 205, 20);
	margin-left: 250px;
	margin-right: 250px;
	margin-bottom: 20px;
	align-items: center;
	padding: 5px 15px ;
	
}
.display {
	height: 50px;
	background-color: rgb(251, 245, 245);
	margin-left: 200px;
	margin-right: 200px;
}
.errors {
	height: 15px;
	/* background-color: rgb(255, 255, 255); */
}
.nav-bar {
	background-color: white
}
.topnav a.nav-bar{
background-color: white;
color: red;
}
.topnav a{
	color: red;
	float: left;
	padding: 10px 14px;
	text-decoration: none;
	font-size: 17px;
}

.topnav {
background-color: white;
padding: 5px 15px;
overflow: hidden;

}




.inputTxt {
	/* border: 60px; */
	
}

.greeted-names {
background-color: yellow;
border-radius: 25px;
  
}

a {
	text-decoration: none;
	color: black;
  }

  .btns {
   background-color: yellow;
  }
  
 





