.section {
	padding: 50px;
	margin-left: 400px;
	margin-right: 400px;
	border-radius: 10px;
	text-align: center;
}
.greetings {
	/* border: 0em; */
	/* height: 50px; */
	/* line-height: 50px; */
	background-color: white;
	margin-left: 250px;
	margin-right: 250px;
	align-items: center;
	padding: 5px 15px 5px 15px;
	
}
.display {
	height: 50px;
	background-color: white;
	margin-left: 200px;
	margin-right: 200px;
}
.errors {
	height: 50px;
	background-color: white;
	/* margin-left: 200px;
	margin-right: 200px; */
}

.inputTxt {
	/* border: 40px; */
}



